<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "text_field">
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :order %><br>
      <%= f.number_field :order, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :question_type %>
      <%= f.collection_select :question_type_id, QuestionType.all, :id, :name, prompt: "Select Question Type" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #e0e0e0" %>
  </div>
<% end %>
