<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table class="mdl-data-table mdl-js-data-table table-bordered">
  <thead>
    <tr>

      <th class="mdl-data-table__cell--non-numeric">#</th>
      <th class="mdl-data-table__cell--non-numeric">Title</th>
      <th class="mdl-data-table__cell--non-numeric">Show</th>
      <th class="mdl-data-table__cell--non-numeric">Edit</th>
      <th class="mdl-data-table__cell--non-numeric">Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= question.order %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= question.title %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Show', question, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #a5d6a7" %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Edit', edit_question_path(question), class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #ffab91" %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #ef5350"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #e0e0e0"  %>
<br/><br/>