<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<!-- <p>
  <strong>Order:</strong>
  <%#= @question.order %>
</p> -->

<p>
  <strong>Question type:</strong>
  <%= @question.question_type_id %>
</p>

<%= link_to 'Edit', edit_question_path(@question), class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #ffab91" %>
<%= link_to 'Back', questions_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #b0bec5" %>
