<%= form_for(@workshop) do |f| %>
  <% if @workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
      <% @workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div><br/>
  <div class="field">
    <label>Select Departments</label>
    <%= f.collection_check_boxes :department_ids, Department.all, :id, :name do |b| %><br/><br/>
      <%= b.check_box %>
      <%= b.label %>
    <% end %>
  </div><br/>
  <div class="field">
    <label>Select Instructor</label>
    <%= f.collection_check_boxes :instructor_ids, Instructor.all, :id, :name do |b| %><br/><br/>
      <%= b.check_box %>
      <%= b.label %>
    <% end %>
  </div><br/>
  <div class="field">
    <%= f.label :allow_access %><br>
    <%= f.check_box :allow_access %>
  </div><br/>
  <div class="actions">
    <%= f.submit 'Submit', class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #e0e0e0" %>
  </div>
<% end %>
