<p id="notice"><%= notice %></p>

<h1>Listing Workshops</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <% if current_user.try(:is_admin? || :is_user?) %>
        <th>Token</th>
        <th>Allow access</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= link_to workshop.title, workshop %></td>
        <td><%= workshop.description %></td>
        <td><%= workshop.start_date %></td>
        <td><%= workshop.end_date %></td>
        <% if current_user.try(:is_admin? || :is_user?) %>
          <td><%= workshop.token %></td>
          <td><%= workshop.allow_access %></td>
          <td><%= link_to 'Show', workshop %></td>
          <td><%= link_to 'Edit', edit_workshop_path(workshop) %></td>
          <td><%= link_to 'Destroy', workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.try(:is_admin? || :is_user?) %>
  <%= link_to 'New Workshop', new_workshop_path %>
<% end %>
