<p id="notice"><%= notice %></p>

<h1>Listing Workshops</h1>

<% if @workshops.empty? %>
  <p>No workshops found.</p>
<% else %>

<table class="mdl-data-table mdl-js-data-table table-bordered">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Title</th>
      <th class="mdl-data-table__cell--non-numeric">Start date</th>
      <th class="mdl-data-table__cell--non-numeric">End date</th>
      <% if current_user.try(:is_user?) || current_user.try(:is_admin?) %>
        <th class="mdl-data-table__cell--non-numeric">Token</th>
        <th class="mdl-data-table__cell--non-numeric">Allow access</th>
        <th class="mdl-data-table__cell--non-numeric">Show</th>
        <th class="mdl-data-table__cell--non-numeric">Edit</th>
        <th class="mdl-data-table__cell--non-numeric">Destroy</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @workshops.each do |workshop| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to workshop.title, workshop %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= workshop.start_date %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= workshop.end_date %></td>
        <% if current_user.try(:is_user?) || current_user.try(:is_admin?) %>
          <td class="mdl-data-table__cell--non-numeric"><%= workshop.token %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= workshop.allow_access %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Show', workshop, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #a5d6a7" %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Edit', edit_workshop_path(workshop), class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #ffab91" %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Destroy', workshop, method: :delete, data: { confirm: 'Are you sure?' }, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #ef5350" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<% if current_user.try(:is_admin? || :is_user?) %>
  <%= link_to 'New Workshop', new_workshop_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #e0e0e0" %>
<% end %>
