<p id="notice"><%= notice %></p>

<h2><%= @workshop.title %></h2>

<p>
  <strong>Description:</strong>
  <%= @workshop.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @workshop.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @workshop.end_date %>
</p>

<p>
  <strong>Departments:</strong>
  <% @workshop.departments.each do |department| %>
    <%= department.name %>,
  <% end %>
</p>

<p>
  <strong>Instructor:</strong>
  <% @workshop.instructors.each do |instructor| %>
    <%= instructor.name %>,
  <% end %>
</p>

<% if current_user.try(:is_admin? || :is_user?) %>
  <p>
    <strong>Allow access:</strong>
    <%= @workshop.allow_access %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= @workshop.token %>
  </p>
<% end %>

<% if current_user.try(:is_admin? || :is_user?) %>
  <%= link_to 'Edit', edit_workshop_path(@workshop) %> |
  <%= link_to 'Back', workshops_path %>
<% end %>

<br/>
<h2>Feedback Form</h2>

<%= form_for @feedback_form do |f| %>

  <%= f.hidden_field :workshop_id, value: @workshop.id %>

  <label>Name: </label>
  <%= f.text_field :name %><br/><br/>

  <label>Register Number:</label>
  <%= f.text_field :register_number %>

  <br/><br/>
  <%= form_for(@workshop) do |f| %>
    <div class="field">
      <strong>Token:</strong>
      <%= f.text_field :token %>
    </div>
  <% end %>
  
  <% @question_type_1.each do |question| %>
    <br/><%= question.order %>. <%= question.title %>
    <%= f.fields_for :answers, @answer do |question_form| %>
      <%= question_form.radio_button :feedback, "strongly-disagree" %>Strongly Disagree
      <%= question_form.radio_button :feedback, "disagree" %>Disagree
      <%= question_form.radio_button :feedback, "agree" %>Agree
      <%= question_form.radio_button :feedback, "strongly-agree" %>Strongly Agree
      <%= question_form.hidden_field :question_id, value: question.id %> 
    <% end %> 
    <br/>
  <% end %>

  <% @question_type_2.each do |question| %>
    <br/><%= question.order %>. <%= question.title %>
    <%= f.fields_for :answers, @answer do |question_form| %>
      <%= question_form.text_area :feedback %>
      <%= question_form.hidden_field :question_id, value: question.id %>
    <% end %>
  <% end %>

  <br/><br/>
    <%= f.submit %>
<% end %>