<table border = "1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Token</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td> <%= @workshop.title %> </td>
      <td> <%= @workshop.start_date %> </td>
      <td> <%= @workshop.end_date %> </td>
      <td> <%= @workshop.token %> </td>
    </tr>
  </tbody>
</table>

<table border = "1">
  <thead>
    <tr>
      <th>Student Name</th>
      <% Question.all.each do |question| %>
        <th><%= question.title %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @workshop.feedback_forms.each do |form| %>
    <tr>
      <td><%= form.name %></td>
      <% form.answers.each do |answer| %>
        <td><%= answer.feedback %></td>
      <% end %>
    </tr> 
    <% end %>
  </tbody>
</table>