<section class="workshop-pie">
  <h2>Stats of <%= @workshop.title %></h2>

  <% if user_signed_in? && (current_user.is_admin? || current_user.is_user?) %>
    <% @question_type_1.each do |question| %>
      <% data = {} %>

      <table class="table">
        <tbody>
          <tr>
            <td width="40%"><strong><%#= question.order%><%= question.title %></strong></td>
            <td width="60%">
              <% data["Strongly Disagree"] = Answer.where(feedback_form_id: @workshop.feedback_form_ids).where('feedback = ? AND question_id = ?', "strongly-disagree", question.id).count 
                 data["Disagree"] = Answer.where(feedback_form_id: @workshop.feedback_form_ids).where('feedback = ? AND question_id = ?', "disagree", question.id).count
                 data["Agree"] = Answer.where(feedback_form_id: @workshop.feedback_form_ids).where('feedback = ? AND question_id = ?', "agree", question.id).count 
                 data["Strong Agree"] = Answer.where(feedback_form_id: @workshop.feedback_form_ids).where('feedback = ? AND question_id = ? ', "strongly-agree", question.id).count %>
              <%= column_chart(data) %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% end %>
</section>

<!-- <table border = "1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Token</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td> <%= @workshop.title %> </td>
      <td> <%= @workshop.start_date %> </td>
      <td> <%= @workshop.end_date %> </td>
      <td> <%= @workshop.token %> </td>
    </tr>
  </tbody>
</table> -->

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Student Name</th>
      <% Question.all.each do |question| %>
        <th class="mdl-data-table__cell--non-numeric"><%= question.title %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @workshop.feedback_forms.each do |form| %>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><%= form.name %></td>
      <% form.answers.each do |answer| %>
        <td class="mdl-data-table__cell--non-numeric"><%= answer.feedback %></td>
      <% end %>
    </tr> 
    <% end %>
  </tbody>
</table>
