<p id="notice"><%= notice %></p>

<h1>Listing Instructors</h1>

<table class="mdl-data-table mdl-js-data-table table-bordered">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Mobile</th>
      <th class="mdl-data-table__cell--non-numeric">Email</th>
      <th class="mdl-data-table__cell--non-numeric">Show</th>
      <th class="mdl-data-table__cell--non-numeric">Edit</th>
      <th class="mdl-data-table__cell--non-numeric">Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= instructor.name %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= instructor.mobile %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= instructor.email %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Show', instructor, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #a5d6a7" %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Edit', edit_instructor_path(instructor), class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #ffab91" %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' }, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #ef5350" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instructor', new_instructor_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #e0e0e0"  %>
