<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @instructor.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @instructor.address %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @instructor.profile %>
</p>

<p>
  <strong>Department:</strong>
  <% @instructor.departments.each do |department| %>
    <%= department.name %>,
  <% end %>
</p>

<%= link_to 'Edit', edit_instructor_path(@instructor), class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #ffab91" %>
<%= link_to 'Back', instructors_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #b0bec5" %>
