<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<h4>These errors prohitibted the form from being saved: </h4>
		<ul style = "color:red;">
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<div class = "text_field">
		<label>Username</label><br/>
		<%= f.text_field :username, class: "form-control" %>
		<br/><br/>

		<label>Email</label><br/>
		<%= f.text_field :email, class: "form-control" %>
		<br/><br/>

		<label>Password</label><br/>
		<%= f.password_field :password, class: "form-control" %>
		<br/><br/>

		<label>Re-enter Password</label><br/>
		<%= f.password_field :password_confirmation, class: "form-control" %>
		<br/><br/>

		<label>User Role</label><br/>
		<%= f.radio_button :role, "admin" %> Admin
		<%= f.radio_button :role, "user" %> User
		<br/><br/>

	  	<div class="field">
	    <%= f.label :department_id %>
		<%= f.collection_select :department_id, Department.all, :id, :name, prompt: "Select Department" %>
	  </div>
  </div>

	<%= f.submit 'Submit', class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #e0e0e0" %>
<% end %>