<h3>Listing Users</h3>

<br/><br/>

<% if @users.empty? %>
	<p>No user found.</p>
<% else %>

	<table class="mdl-data-table mdl-js-data-table table-bordered">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">#</th>
				<th class="mdl-data-table__cell--non-numeric">User ID</th>
				<th class="mdl-data-table__cell--non-numeric">Username</th>
				<th class="mdl-data-table__cell--non-numeric">Email</th>
				<th class="mdl-data-table__cell--non-numeric">Show</th>
			</tr>
		</thead>

		<tbody>
			<% @users.each_with_index do |user,index|%>
			<tr>
				<td class="mdl-data-table__cell--non-numeric"> <%= index + 1 %></td>
				<td class="mdl-data-table__cell--non-numeric"> <%= user.id %> </td>
				<td class="mdl-data-table__cell--non-numeric"> <%= user.username %></td>
				<td class="mdl-data-table__cell--non-numeric"> <%= user.email %> </td>
				<td class="mdl-data-table__cell--non-numeric"> <%= link_to "Show", user_path(user.id), class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #a5d6a7" %> </td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<% if current_user.is_admin? %>
	<h2><%= link_to "Add user", new_user_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #bdbdbd"  %></h2>
<% end %>