<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :feedback %><br>
    <%= f.text_area :feedback %>
  </div>
  <div class="field">
    <%= f.label :question %>
    <%= f.collection_select :question_id, Question.all, :id, :title, prompt: "Select Question" %>
  </div>
  <div class="field">
    <%= f.label :feedback_form_id %><br>
    <%= f.number_field :feedback_form_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
