<p id="notice"><%= notice %></p>

<p>
  <strong>Feedback:</strong>
  <%= @answer.feedback %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question_id %>
</p>

<p>
  <strong>Feedback form:</strong>
  <%= @answer.feedback_form_id %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer), class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #ffab91" %> |
<%= link_to 'Back', answers_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #b0bec5" %>
