<%= form_for(@question_type) do |f| %>
  <% if @question_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_type.errors.count, "error") %> prohibited this question_type from being saved:</h2>

      <ul>
      <% @question_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class = "text_field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #e0e0e0" %>
  </div>
<% end %>
