<p id="notice"><%= notice %></p>

<h1>Listing Question Types</h1>

<table class="mdl-data-table mdl-js-data-table table-bordered">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <!-- <th class="mdl-data-table__cell--non-numeric">Show</th> -->
      <th class="mdl-data-table__cell--non-numeric">Edit</th>
      <th class="mdl-data-table__cell--non-numeric">Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @question_types.each do |question_type| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= question_type.name %></td>
        <!-- <td class="mdl-data-table__cell--non-numeric"><%#= link_to 'Show', question_type, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #a5d6a7" %></td> -->
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Edit', edit_question_type_path(question_type), class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #ffab91" %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Destroy', question_type, method: :delete, data: { confirm: 'Are you sure?' }, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #ef5350" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question type', new_question_type_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #e0e0e0"  %>
