<p id="notice"><%= notice %></p>

<h1>Listing Feedback Forms</h1>

<table class="mdl-data-table mdl-js-data-table table-bordered">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Register number</th>
      <th class="mdl-data-table__cell--non-numeric">Workshop</th>
      <th class="mdl-data-table__cell--non-numeric">Show</th>
    </tr>
  </thead>

  <tbody>
    <% @feedback_forms.each do |feedback_form| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= feedback_form.name %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= feedback_form.register_number %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= feedback_form.workshop.title %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Show', feedback_form, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #a5d6a7" %></td>
        <!--<td class="mdl-data-table__cell--non-numeric"><%#= link_to 'Edit', edit_feedback_form_path(feedback_form), class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #4527a0" %></td>
        <td class="mdl-data-table__cell--non-numeric"><%#= link_to 'Destroy', feedback_form, method: :delete, data: { confirm: 'Are you sure?' }, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #b71c1c"  %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Feedback form', new_feedback_form_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #e0e0e0"  %>
<br/><br/>