<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feedback_form.name %>
</p>

<p>
  <strong>Register number:</strong>
  <%= @feedback_form.register_number %>
</p>

<p>
  <strong>Workshop:</strong>
  <%= @feedback_form.workshop.title %>
</p>

<ul>
<% Question.all.each do |question| %>
	<li><%= question.title %> - <%= question.answers.find_by_feedback_form_id(@feedback_form.id).try(:feedback) %>
<% end %>
</ul>

<!--<%#= link_to 'Edit', edit_feedback_form_path(@feedback_form), class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #4527a0" %> | -->
<% if current_user.try(:is_admin? || :is_user?) %>
	<%= link_to 'Back', feedback_forms_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button", style:"background-color: #b0bec5" %>
<% end %>